<!DOCTYPE html>
<html>
<head>
  <title>Login Form</title>
</head>
<body>
<br>
<br>
<br>
<p id="logo"><img [src]="logo_path" alt="logo" width="70px"></p>
<div class="logoName">Email</div>
<div class="login">
  <div id="login">
    <label class="label-userName"><b>User Name
    </b>
    </label>
    <input type="text" name="Uname" id="Uname" placeholder="Username">
    <br><br>
    <label class="label-password"><b>Password
    </b>
    </label>
    <input type="Password" name="Pass" id="Pass" placeholder="Password">
    <br><br>
    <a routerLink="/home"> <input type="button" name="log" id="log" value="Log in"> </a>
    <br><br>
  </div>
</div>
</body>
</html>
